* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
}
.container {
  width: 100vw;
  height: 100vh;
}
h1 {
  text-align: center;
}
.icon-hands {
  display: flex;
  justify-content: space-evenly;
  width: 30rem;
  height: 12rem;
  margin: 0 auto;
}
.choices {
  display: flex;
  /* width: 20rem; */
  /* height: 5rem; */
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
}
.result {
  border: 1px solid blue;
}
